.card {
  margin-top: 2rem;
  max-width: 350px;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 50px;
    font-weight: 500;
    color: #525f7f;
  }

  .card-flex {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #8a8a8a;
  }

  Button {
    width: 100%;
  }
}
